html {
  box-sizing: border-box;
  font-family: Open Sans, Sans serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.7rem;
}

h2 {
  padding-left: .75rem;
  margin-top: 2em;
  font-size: .875rem;
  margin: 0;
}

i {
  font-size: .875rem;
  padding-left: .75rem;
  margin: 0;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  padding-top: .25rem;
  margin-bottom: 3rem;
  padding-left: .75rem;
}

div {
  float: left;
  display: inline-block;
  height: 420px;
  width: 25%;
  border-left: 1px solid #333;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  margin-left: 1em;
  padding: .65rem;
}

.btn-small {
  font-size: .875rem;
}



.one {
  background-color: #e2e2e2;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
  border-right: 1px solid #333;
}

.btn:hover {
  background-color: #000;
}
